@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;

}

.body{
    background: url("../bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#scoreBox{
    position:absolute;
    top: 100px;
    right: 115px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Lobster Two', cursive;
}
#hiscoreBox{
    position:absolute;
    top: 150px;
    right: 70px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Lobster Two', cursive;
}
#board{
    background: linear-gradient(rgba(128, 128, 0, 0.822),rgb(236, 236, 100));
    width: 130vmin;margin-right: 215px;
    height: 87vmin;
    border: 2px solid olive;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
    
}

.head{
   background:linear-gradient(olive ,yellow);
   border: 2px solid olive;
   transform: scale(1.02);
   border-radius: 8px;
}

.snake{
    background:linear-gradient(olive,rgb(207, 207, 27));
   border: 2px solid olive;
   border-radius: 12px;
}

.food{
    background: url("../apple.jpg");
    min-height: 4vh;
    min-width: 4vh;
    background-size: 3.1vw 4.4vh;
}